{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Prices</li>
    </ol>
    <h1>Prices</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <h1>{{ area.name }}</h1>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h1>{{ area.name }}</h1>
            {% for service in area.services.all %}
                {% include "price_list.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}